.container {
  width: 1000px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  margin-top: 25px;
  border-radius: 1em;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
